* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --main-color: #d9edff;
}

body {
  padding: 1rem 2rem;
}

.logo {
  width: 7rem;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-section {
  max-width: 360px;
}

@media (min-width: 768px) {
  .main-section {
    padding: 1.5rem;
    box-shadow: 0px 0px 7px 6px rgba(239, 237, 235, 1);
    -webkit-box-shadow: 0px 0px 7px 6px rgba(239, 237, 235, 1);
    -moz-box-shadow: 0px 0px 7px 6px rgba(239, 237, 235, 1);
    margin-top: -10px;
    border-radius: 10px;
  }
}

.main-heading {
  padding-bottom: 5px;
  font-weight: 400;
}

p {
  color: #696b73;
  font-size: small;
}

a {
  text-decoration: none;
  color: #0d64c3;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.forgot__pw-link,
.bi {
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  padding: 5px;
}

.forgot__pw-link:hover,
.bi:hover {
  text-decoration: underline;
  background-color: #2773c481;
  border-radius: 20px;
}

.input-submit {
  background-color: #0d64c3;
  color: white;
  padding: 15px;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}
.input-submit:hover {
  background-color: #0550a0;
  transition: all 0.3s;
}

.input-field {
  padding: 12px 10px;
  margin-bottom: 25px;
  font-size: 1rem;
  border: 1.3px #696b73 solid;
  border-radius: 2px;
}

.input-field:focus {
  outline-color: #0d64c3;
  transition: all 0.5s;
}

.password-field {
  display: flex;
  padding: 0;
  position: relative;
}

.input-password {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 25px;
  font-size: 1rem;
  border: 1.3px #696b73 solid;
  border-radius: 2px;
}

.input-password:focus {
  outline-color: #0d64c3;
  transition: all 0.5s;
}

.bi {
  color: #1f65af;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: small;
  font-weight: bold;
}

.bi:hover {
  border: 1px solid #0d64c3;
}

.instruction {
  font-size: 0.7rem;
}

.instruction-link {
  font-weight: 500;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0 10px 0;
}

.divider-hr {
  background-color: #696b73;
  border: none;
  height: 0.5px;
  width: 100%;
}

.account-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0 0;
}

.link-container {
  border: 1.3px #696b73 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
}

.link-container:hover {
  outline: 0.7px #58595e solid;
}

.link-img {
  width: 40px;
  height: 25px;
}

.fa-link {
  font-size: 20px;
  color: #696b73;
  padding: 2px 5px;
}

.link-text {
  font-weight: 600;
}

.join-text {
  padding: 30px;
  text-align: center;
  font-size: medium;
}

.join-link {
  padding: 3px;
}

.join-link:hover {
  text-decoration: underline;
  background-color: #2773c481;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  font-size: 0.7rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-link {
  color: #58595e;
}

.footer-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-section1,
.footer-section2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.polished-data {
  display: flex;
  align-items: center;
  gap: 5px;
}

.polished__data-img {
  width: 50px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.language {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1090px) {
  ul {
    display: none;
  }
}
